
/* .customform{
    border-radius: 10px;
    width: 50rem;
    height: 110vh;
    box-shadow: 0 80px 80px #808888;
    margin: 5px;
    justify-content: center;
    border: none;
    color: white;
    padding: 10px 28px ;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    background-color: #F8F8FF;
   margin-bottom: 40px;
   
   
} */
.btnhome {
  cursor: pointer;
  background-image: linear-gradient(#141E30, #243B55);
  border: none;
  color: white;
  padding: 10px 28px ;
  text-align: center;
  width:100%;
  font-size: 30px;
  
}


.CenterAliningItems{
    align-items: center;
    display: flex;
    justify-content: center;
   
  }
  
  .viewLoadingProfile1 {
    margin-left: 50%;
    margin-top: -5%;
}
.filebuttons{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.customhandlefile{
    background-color:#d64161; /* Green */
border: none;
color: white;
padding: 10px 28px ;
text-align: center;
font-size: 20px;
border-radius: 10px;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 2px;
  }
   
  [type="file"] + label {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem 4rem;
  }
    
  [type="file"]:focus + label,
  [type="file"] + label:hover {
      background-color: #feb236;
  }
    
  .error{
    align-items: center;
    display: flex;
    margin-left: 150px;
  }
  .button1 {
    border-radius: 4px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background-color: #243B55; /* Green */
    border: none;
    color: white;
    padding: 10px 28px ;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    width: 100%;
  
  }

  .leftimage{
    width:100%;
    height: 100%;


    
    /* opacity:0.5; */
  }
  
  .image{
    background-image: linear-gradient(#141E30, #243B55);
    background-repeat: no-repeat;
  
      background-size: cover;
      background-position: center;
      /* opacity:0.5; */
      
  }
  .btn {
    cursor: pointer;
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 10px 28px ;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #808888;
  }
 
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }
  .error{
    align-items: center;
    display: flex;
    margin-left: 150px;
  }
  .footer {
    background: linear-gradient(to bottom, #434343 0%, #000000 100%);
  }
  
  .logoname {
    color: white;
     margin-top: 60px;
  }
  .regpage {
    color: #ffffff;
    font-size: 0;
    line-height: 1.5;
  }
  
  .regpage span {
    font-size: 3rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }